<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
	<title>Exchange Tool</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
	<div id="app">
		<h1>Currency Converter</h1>
		<div class="container">
			<div class="input-field col s12 inputDiv">
				<input placeholder="Type amount" id="amount" type="number" v-bind:value="inputAmount" @input="onValueChange($event)">
				<label for="first_name">Amount</label>
			</div>
			<div>
				<label>From</label>
				<select v-model="selectedFromCurrency" style="display: inline-block;" @change="onCurrencyChange($event)" >
					<option v-for="option in options" v-bind:value="option.text">
					  {{ option.text }}
					</option>
				  </select>
			</div>
			<div class="icon-style">
				<i v-on:click="toggleToFrom" class="fas fa-exchange-alt"></i>
			</div>
			<div>
				<label>To</label>
				<select v-model="selectedToCurrency" style="display: inline-block;" @change="onCurrencyChange($event)" >
					<option v-for="option in options" v-bind:value="option.text">
					  {{ option.text }}
					</option>
				  </select>
			</div>
			<div class="input-field col s12 inputDiv">
				<input disabled id="amount" type="number" v-bind:value="outputAmount" style="color: black">
				
			</div>
		</div>
	
		<div>
			<h3>Currency: {{ selected }} </h3>
			<ul>
				<li v-for="option in options" v-bind:value="option.text"> <button class="listButtons waves-effect waves-light btn" v-on:click="currencySelector(option.text)">{{option.text}}</button>  : {{option.value}} </li>
			</ul>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>
</html>