 body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .icon-style {
    min-width: 2rem;
    min-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa-exchange-alt {
    cursor: pointer;
  }

  .inputDiv {
    margin: 1rem;
  }
  
  .listButtons {
    margin: 0.5em;
    min-width: 70px;
  }
 